<div class="comment">
  <div class="row">
    <div class="col-sm-12">
      <div class="comment-title">
    <h1 class="text-center mb-4">Add Comment</h1>
      </div>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control" id="name" >
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" id="email" >
      </div>
      <div class="form-group">
        <label for="messages">Message:</label>
        <textarea type="text" name="messages" class="form-control" id="messages" rows="5" >
           </textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="button"><span>Submit</span></button>
      </div>
    </form>
  </div>
</div>
</div>
