/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 1.25;
}

p {
    color: #51545f;
    font-size: 16px;
}
