/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.25;
}

p {
    color: #51545f;
    font-size: 16px;
}
.button{
    background-color: #ffa4c5;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.button:hover{
    background-color: palevioletred;
}
.button:focus{
    outline: none;
    background-color: palevioletred;
}
.button:active{
    outline: none;
    background-color: palevioletred;
}
