<div class="comment">
<div class="container comment_item">
  <div class="row">
    <div class="col-md-7">
      <div class="product_image">
      <img src="{{product.image}}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-5 ">
      <div class="title">
      <h1 class="product_title">{{product.name}}</h1>
      <p class="product_price">Price : {{product.price}}</p>
      <p class="product_popularity">Popularity : {{product.popularity}} <img src="../assets/images/heart.png"></p>
      <p class="product_description text-muted">Description : Icons are a simple, effective way to draw users into the content of your website. Download this free Comment icon with universal recognition to replace texts on your website or UX design. Scroll down to view similar comment icon packs.</p>
      <button class="button" routerLink="/products">Back</button>
      </div>
    </div>
  </div>
  <app-comment1></app-comment1>
  <app-comments></app-comments>
</div>
</div>
